<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-title class="ion-padding-top ion-text-center">
  </ion-title>
    <ion-card class="ion-text-center">
      <h4>Disco</h4>
    </ion-card>
  <ion-item class="ion-padding-horizontal">
    <ion-label position="floating">Compositor</ion-label>
    <ion-input type="text" ></ion-input>
  </ion-item>
  <ion-item class="ion-padding-horizontal">
    <ion-label position="floating">Intérprete</ion-label>
    <ion-input type="text" ></ion-input>
  </ion-item>
  <ion-item class="ion-padding-horizontal">
    <ion-label position="stacked" class="ion-padding-bottom">Género</ion-label>
    <ion-select placeholder="Seleccione género" >
    </ion-select>
  </ion-item>
  <ion-item class="ion-padding-horizontal">
    <ion-label position="stacked" class="ion-padding-bottom">Fecha Lanzamiento</ion-label>
    <ion-input type="date"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button shape="block" >
          Limpiar
        </ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button shape="block">
          Mostrar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>