<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <a href="/intro"><ion-icon name="arrow-back" slot="icon-only"></ion-icon></a>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-padding ion-text-center">
    <ion-card-title class="ion-text-center">
      <h1>
        Inicio de sesión
      </h1>
    </ion-card-title>
    <img src="../../../assets/logo.png" alt="login" class="ion-padding pulsate-fwd" />
    <ion-card-header>
      <ion-card-content>

        <div class="input-group">
          <input required="" type="text" name="text" autocomplete="off" class="input" [(ngModel)]="login.usuario">
          <label class="user-label">Usuario</label>
        </div>

        <div class="input-group">
          <input required="" type="password" name="text" autocomplete="off" class="input" [(ngModel)]="login.password">
          <label class="user-label">Contraseña</label>
        </div>
        <ion-row>
          <ion-col size="12">
            <button expand="block" class="button-style" (click)="Ingresar()">INGRESAR</button>
          </ion-col>
          <ion-col size="12">
            <p class="ion-text-center">
              <a routerLink="/recuperar">¿Olvidaste tu contraseña?</a>
            </p>
            <p class="ion-text-center">
              <a routerLink="/registro">Registrarse</a>
            </p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>